In [ ]:
file = 'C:\\Users\\10235555\\Documents\\Dataportal Data\\downloadfolder\\Demographic Indicators - Indicator reference .csv'
import pandas as pd
indcs = []
df = pd.read_csv(file)
for i in range(len(df.index)):
    f = df.iloc[i].to_list()
    f = [' : '.join(map(str,f))]
    indcs.append(f[0])
indc = [' , '.join(map(str,indcs))]
indc =  'IndicatorNo : Topic : Indicator : IndicatorName : Unit'+ ' , ' + indc[0]

In [9]:
file = 'C:\\Users\\10235555\\Documents\\Dataportal Data\\downloadfolder\\Notes - File , Location notes.csv'
import unidecode
import pandas as pd
notes = []
df = pd.read_csv(file)
df.iloc[:,0] = df.iloc[:,1].str.encode('ascii', 'ignore').str.decode('ascii')
for i in range(len(df.index)):
    f = df.iloc[i].to_list()
    f = [' : '.join(map(str,f))]
    notes.append(f[0])
note = [' , '.join(map(str,notes))]
note =  'Notes : Text'+ ' , ' + note[0]
note

'Notes : Text , Countries and areas are grouped into eight Sustainable Development Goal (SDG) regions as defined by the United Nations Statistics Division and used for The Sustainable Development Goals Report (https://unstats.un.org/sdgs/indicators/regional-groups/).  These regions are further divided into 21 geographic subregions. : Countries and areas are grouped into eight Sustainable Development Goal (SDG) regions as defined by the United Nations Statistics Division and used for The Sustainable Development Goals Report (https://unstats.un.org/sdgs/indicators/regional-groups/).  These regions are further divided into 21 geographic subregions. , Sub-Saharan Africa refers to all of Africa except Northern Africa. : Sub-Saharan Africa refers to all of Africa except Northern Africa. , The designation more developed and less developed regions are intended for statistical purposes and do not express a judgment about the stage reached by a particular country or area in the development process. : The designation “more developed” and “less developed” regions are intended for statistical purposes and do not express a judgment about the stage reached by a particular country or area in the development process. , More developed regions comprise Europe, Northern America, Australia/New Zealand and Japan. : More developed regions comprise Europe, Northern America, Australia/New Zealand and Japan. , Less developed regions comprise all regions of Africa, Asia (except Japan), Latin America and the Caribbean plus Melanesia, Micronesia and Polynesia. : Less developed regions comprise all regions of Africa, Asia (except Japan), Latin America and the Caribbean plus Melanesia, Micronesia and Polynesia. , The group of least developed countries includes 46 countries:  32 in Sub-Saharan Africa, 2 in Northern Africa and Western Asia, 4 in Central and Southern Asia, 4 in Eastern and South-Eastern Asia, 1 in Latin America and the Caribbean, 3 in Oceania (as accessed on 24 March 2022). Further information is available at https://www.un.org/ohrlls/content/least-developed-countries. : The group of least developed countries includes 46 countries:  32 in Sub-Saharan Africa, 2 in Northern Africa and Western Asia, 4 in Central and Southern Asia, 4 in Eastern and South-Eastern Asia, 1 in Latin America and the Caribbean, 3 in Oceania (as accessed on 24 March 2022). Further information is available at https://www.un.org/ohrlls/content/least-developed-countries. , Other less developed countries comprise the less developed regions excluding the least developed countries. : Other less developed countries comprise the less developed regions excluding the least developed countries. , The group of Landlocked Developing Countries (LLDCs) is composed of 32 countries or territories: 16 in Sub-Saharan Africa, 2 in Northern Africa and Western Asia, 8 in Central and Southern Asia, 2 in Eastern and South-Eastern Asia, 2 in Latin America and the Caribbean, and 2 in Europe and Northern America (as accessed on 24 March 2022). Further information is available at https://www.un.org/ohrlls/content/landlocked-developing-countries. : The group of Landlocked Developing Countries (LLDCs) is composed of 32 countries or territories: 16 in Sub-Saharan Africa, 2 in Northern Africa and Western Asia, 8 in Central and Southern Asia, 2 in Eastern and South-Eastern Asia, 2 in Latin America and the Caribbean, and 2 in Europe and Northern America (as accessed on 24 March 2022). Further information is available at https://www.un.org/ohrlls/content/landlocked-developing-countries. , The group of Small Island Developing States (SIDS) is composed of 58 countries or territories: 25 in the Caribbean, 19 in the Pacific and 14 in the Atlantic, Indian Ocean and South China Sea (AIS) (as accessd on 24 March 2022). Further information is available at https://www.un.org/ohrlls/content/small-island-developing-states. : The group of Small Island Developing States (SIDS) is composed of 58 countries or territories: 25 in the Caribbean, 19 in the Pacific and 14 in the Atlantic, Indian Ocean and South China Sea (AIS) (as accessd on 24 March 2022). Further information is available at https://www.un.org/ohrlls/content/small-island-developing-states. , The country classification by income level is based on GNI per capita from the World Bank (as accessed on July 2022). Further information is available at https://datahelpdesk.worldbank.org/knowledgebase/articles/906519. : The country classification by income level is based on GNI per capita from the World Bank (as accessed on July 2022). Further information is available at https://datahelpdesk.worldbank.org/knowledgebase/articles/906519. , Countries and areas are grouped geographically into six major areas designated as: Africa; Asia; Europe; Latin America and the Caribbean; Northern America, and Oceania. : Countries and areas are grouped geographically into six major areas designated as: Africa; Asia; Europe; Latin America and the Caribbean; Northern America, and Oceania. , Including Agalega, Rodrigues and Saint Brandon. : Including Agalega, Rodrigues and Saint Brandon. , For statistical purposes, the data for France do not include this area. : For statistical purposes, the data for France do not include this area. , Including Zanzibar. : Including Zanzibar. , Including Ascension and Tristan da Cunha. For statistical purposes, the data for United Kingdom do not include this area. : Including Ascension and Tristan da Cunha. For statistical purposes, the data for United Kingdom do not include this area. , For statistical purposes, the data for China do not include Hong Kong and Macao, Special Administrative Regions (SAR) of China, and Taiwan Province of China. : For statistical purposes, the data for China do not include Hong Kong and Macao, Special Administrative Regions (SAR) of China, and Taiwan Province of China. , As of 1 July 1997, Hong Kong became a Special Administrative Region (SAR) of China. For statistical purposes, the data for China do not include this area. : As of 1 July 1997, Hong Kong became a Special Administrative Region (SAR) of China. For statistical purposes, the data for China do not include this area. , As of 20 December 1999, Macao became a Special Administrative Region (SAR) of China. For statistical purposes, the data for China do not include this area. : As of 20 December 1999, Macao became a Special Administrative Region (SAR) of China. For statistical purposes, the data for China do not include this area. , For statistical purposes, the data for China do not include this area. : For statistical purposes, the data for China do not include this area. , Including Sabah and Sarawak. : Including Sabah and Sarawak. , Including Nagorno-Karabakh. : Including Nagorno-Karabakh. , Refers to the whole country. : Refers to the whole country. , Including Abkhazia and South Ossetia. : Including Abkhazia and South Ossetia. , Including East Jerusalem. : Including East Jerusalem. , Including Transnistria. : Including Transnistria. , Including Crimea. : Including Crimea. , For statistical purposes, the data for Denmark do not include Faroe Islands, and Greenland. : For statistical purposes, the data for Denmark do not include Faroe Islands, and Greenland. , For statistical purposes, the data for Denmark do not include this area. : For statistical purposes, the data for Denmark do not include this area. , Including land Islands. : Including Åland Islands. , For statistical purposes, the data for United Kingdom do not include this area. : For statistical purposes, the data for United Kingdom do not include this area. , Including Svalbard and Jan Mayen Islands. : Including Svalbard and Jan Mayen Islands. , Refers to the United Kingdom of Great Britain and Northern Ireland. For statistical purposes, the data for United Kingdom do not include Anguilla, Bermuda, British Virgin Islands, Cayman Islands, Falkland Islands (Malvinas), Gibraltar, Guernsey, Isle of Man, Jersey, Montserrat, Saint Helena, Turks and Caicos Islands. : Refers to the United Kingdom of Great Britain and Northern Ireland. For statistical purposes, the data for United Kingdom do not include Anguilla, Bermuda, British Virgin Islands, Cayman Islands, Falkland Islands (Malvinas), Gibraltar, Guernsey, Isle of Man, Jersey, Montserrat, Saint Helena, Turks and Caicos Islands. , Refers to the Vatican City State. : Refers to the Vatican City State. , Refers to Kosovo (United Nations administered region under security council resolution 1244). For statistical purposes, the data for Serbia do not include this area. : Refers to Kosovo (United Nations administered region under security council resolution 1244). For statistical purposes, the data for Serbia do not include this area. , For statistical purposes, the data for Serbia do not include Kosovo (United Nations administered region under security council resolution 1244). : For statistical purposes, the data for Serbia do not include Kosovo (United Nations administered region under security council resolution 1244). , Including Canary Islands, Ceuta and Melilla. : Including Canary Islands, Ceuta and Melilla. , For statistical purposes, the data for France do not include French Guiana, French Polynesia, Guadeloupe, Martinique, Mayotte, New Caledonia, Runion, Saint Pierre and Miquelon, Saint Barthlemy, Saint Martin (French part), Wallis and Futuna Islands. : For statistical purposes, the data for France do not include French Guiana, French Polynesia, Guadeloupe, Martinique, Mayotte, New Caledonia, Réunion, Saint Pierre and Miquelon, Saint Barthélemy, Saint Martin (French part), Wallis and Futuna Islands. , For statistical purposes, the data for Netherlands do not include Aruba, Bonaire, Sint Eustatius and Saba, Curaao, and Sint Maarten (Dutch part). : For statistical purposes, the data for Netherlands do not include Aruba, Bonaire, Sint Eustatius and Saba, Curaçao, and Sint Maarten (Dutch part). , For statistical purposes, the data for Netherlands do not include this area. : For statistical purposes, the data for Netherlands do not include this area. , For statistical purposes, the data for United States of America do not include this area. : For statistical purposes, the data for United States of America do not include this area. , A dispute exists between the Governments of Argentina and the United Kingdom of Great Britain and Northern Ireland concerning sovereignty over the Falkland Islands (Malvinas). For statistical purposes, the data for United Kingdom do not include this area. : A dispute exists between the Governments of Argentina and the United Kingdom of Great Britain and Northern Ireland concerning sovereignty over the Falkland Islands (Malvinas). For statistical purposes, the data for United Kingdom do not include this area. , For statistical purposes, the data for United States of America do not include American Samoa, Guam, Northern Mariana Islands, Puerto Rico, and United States Virgin Islands. : For statistical purposes, the data for United States of America do not include American Samoa, Guam, Northern Mariana Islands, Puerto Rico, and United States Virgin Islands. , Including Christmas Island, Cocos (Keeling) Islands and Norfolk Island. : Including Christmas Island, Cocos (Keeling) Islands and Norfolk Island. , For statistical purposes, the data for New Zealand do not include Cook Islands, Niue, and Tokelau. : For statistical purposes, the data for New Zealand do not include Cook Islands, Niue, and Tokelau. , Including Pitcairn. : Including Pitcairn. , For statistical purposes, the data for New Zealand do not include this area. : For statistical purposes, the data for New Zealand do not include this area.'

In [4]:
import pandas as pd
note = []
xls = pd.ExcelFile('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\downloadfolder2\\File 12 Population of Urban Agglomerations with 300,000 Inhabitants or More in 2018, by country, 1950-2035 (thousands).xls')
sheets = xls.sheet_names
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\downloadfolder2\\File 12 Population of Urban Agglomerations with 300,000 Inhabitants or More in 2018, by country, 1950-2035 (thousands).xls',sheets[0])
df.iloc[14:16] = df.iloc[14:16].fillna(method='ffill', axis=1)
df.iloc[14:16] = df.iloc[14:16].fillna('')
df.columns = df.iloc[14:16].apply(lambda x: ' \n '.join(map(str,[y for y in x if y])), axis=0)
# df[16:].to_excel('test_file_title_2.xlsx',index = False)
df_2 = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\downloadfolder2\\File 12 Population of Urban Agglomerations with 300,000 Inhabitants or More in 2018, by country, 1950-2035 (thousands).xls',sheets[1])
for i in range(len(df_2.index)):
    f = df_2.iloc[i].to_list()
    f = [' : '.join(map(str,f))]
    note.append(f[0])
notes = [' , '.join(map(str,note))]
notes = 'Notes, ' + notes[0]
notes

'Notes, (1) Refers to the Governorate of Grand Algiers. , (2) Estimate for 2014 refers to the urban population of the "municipio" of Benguela. , (3) Estimate for 2014 refers to the urban population of the "municipio" of Cabinda. , (4) Estimate for 2014 refers to the urban population of the "municipio" of Huambo. , (5) Estimate for 2014 refers to the urban population of the "municipio" of Lobito. , (6) Estimate for 2014 refers to the urban population of the province of Luanda. , (7) Estimate for 2014 refers to the urban population of the "municipio" of Lubango. , (8) Estimate for 2014 refers to the urban population of the "municipio" of Malanje. , (9) Refers to Gran Buenos Aires. Data for 2001 and 2010 refer to the urban agglomeration including Buenos Aires city, 24 districts of Gran Buenos Aires and some districts of the suburbs. , (10) Refers to Gran Córdoba. , (11) Refers to Gran Corrientes. , (12) Refers to Gran La Plata. , (13) Refers to Gran Mendoza. , (14) Refers to Gran Resistencia. , (15) Refers to Gran Rosario. , (16) Refers to Gran San Juan. , (17) Refers to Gran San Miguel de Tucumán. , (18) Refers to Gran San Salvador de Jujuy. , (19) Refers to Gran Santa Fe. , (20) Refers to Santiago del Estero-La Banda, including the locality of El Zanjón. , (21) Refers to Significant Urban Areas as of 2001. , (22) The data include communities under the authority of the Town Council. The 1989 census produced data referring to the city proper only; the population of the urban agglomeration for that date was estimated by assuming that the ratio of the population of the urban agglomeration to that of the city proper was the same as in 1979. , (23) Refers to the urban area of the municipality of Al-Manamah. , (24) Refers to the Mega city. , (25) Data refer to the population of Brussels-Capital Region and "communes" of the agglomeration and suburbs. , (26) Refers to the urban population of the municipalities (municipios) of Cochabamba, Sacaba, Quillacollo, Colcapirhua, Tiquipaya and Vinto. , (27) Refers to the urban population of the municipalities (municipios) of La Paz, El Alto, Viacha and Achocalla. , (28) Refers to the muniicipalities of Stari Grad Sarajevo, Centar Sarajevo, Novo Sarajevo, Novi Grad Sarajevo and Ilidza. , (29) Refers to the "Região Integrada de Desenvolvimento do Distrito Federal e Entorno". , (30) Refers to the municipality of Phnon Penh including suburban areas. , (31) Refers to the Census Metropolitan Area. , (32) Refers to the Census Metropolitan Area. Estimate for the year 2011 was revised to concur with 2016 metropolitan area definition , (33) Refers to the Census Metropolitan Area. The capital is Ottawa. , (34) Refers to Gran Concepción. , (35) Refers to Gran La Serena. , (36) Data from 1952 to 1992 refer to Gran Santiago. Data for 2002 and 2012 refer to the urban population of Santiago Metropolitan Area Region. , (37) Refers to the Gran Valparaíso. , (38) For the 1990 census, the data reflect all residents of urban areas of the city. For the 2000 and 2010 censuses, the population of the city is composed of population in all city districts meeting the criteria such as contiguous built-up areas, being the location of the local government, being a Street or Having a Resident Committee. , (39) For the 1982 and 1990 censuses, the data reflect all residents of urban areas of the city. For the 2000 and 2010 censuses, the population of the city is composed of population in all city districts meeting the criteria such as contiguous built-up areas, being the location of the local government, being a Street or Having a Resident Committee. , (40) For the 1982 and 1990 censuses, the data reflect all residents of urban areas of the city (excluding Yanqing District). For the 2000 and 2010 censuses, the population of the city is composed of population in all city districts (excluding Yanqing District) meeting the criteria such as contiguous built-up areas, being the location of the local government, being a Street or Having a Resident Committee. , (41) For the 2000 and 2010 censuses, the population of the city is composed of population in all city districts meeting the criteria such as contiguous built-up areas, being the location of the local government, being a Street or Having a Resident Committee. , (42) Data for Hong Kong consist of the population of Hong Kong Island, New Kowloon the new towns in New Territories and the marine areas. , (43) Prior to 2001, the city of Macao comprised of the population of the country, except for the population of Coloane, Taipa, Co-Thai and the maritime population. After 2001, the entire population of Macao was considered to be urban. , (44) Data refer to the urban population of the Distrito Especial de Bogotá, and the capitals of the municipalities of Chia, Funza and Soacha (cabeceras municipales). , (45) Refers to the nuclei Manizales and Villamaría (cabeceras municipales). , (46) Refers to the nuclei of Medellín, Barbosa, Bello, Caldas, Copacabana, Envigado, Girardota, Itagui, La Estrella and Sabaneta (cabeceras municipales). , (47) Refers to the nuclei of Pereira and Dos Quebradas (cabeceras municipales). , (48) Includes Santa Bárbara, Belén, Flores, and San Isidro, , (49) Refers to the urban population of the cantons. , (50) Refers to the settlement of Zagreb. , (51) Refers to the Greater Copenhagen Region as defined from 1999 onward consisting of (parts of) 16 municipalities. The limits of the urban agglomeration have been modified between 1970 and 1976. , (52) Data refer to the population of the “cercle”. , (53) Data for 2002 and 2010 refer to the urban population of the Municipalities of Santo Domingo de Guzmán, Santo Domingo Este, Santo Domingo Oeste, and Santo Domingo Norte, as of 2010. , (54) Data for 1996 refer to the districts of the Governorate of Al-Iskandariyah (Alexandria) except for the Districts of Burj al-\'Arab (Borg El Arab) and Madinat Burj al-\'Arab al-Jadidah (New Borg El Arab). Data for 2006 refer to the districts of the Governorate of Al-Iskandariyah (Alexandria) except for the Districts of As-Sahal ash-Shamali (North Coast), Burj al-\'Arab (Borg El Arab) and Madinat Burj al-\'Arab al-Jadidah (New Borg El Arab). , (55) Data from 1960 to 1986 refer to the Governorate of Al-Qahirah (Cairo) and the cities of Al-Jizah (Giza) and Shubra al-Khaymah (Shubra-El-Khema). Data for 1996 and 2006 refer to Greater Cairo as the sum of the Governorate of Al-Qahirah (Cairo) and the surrounding districts of the Governorates of Al-Jizah (Giza) and Al-Qalyübyah (Qalyubia). , (56) Refers to the urban population of the municipios of San Salvador, Mejicanos, Soyapango, Delgado, Ilopango, Cuscatancingo, Ayutuxtepeque, and San Marcos. , (57) Refers to the local government areas of Banjul and Kanifing. , (58) Data refer to the localities of Calithèa, Peristérion and Piraeus, among others. , (59) Data for 1971 and later refer to urban agglomeration. Data for 1950 refer to city proper. 1999 estimate refers to the urban agglomeration of Port-au-Prince, Delmas and Carrefour. As of 1 February 2010, the impact of the earthquake on 12 January 2010 is estimated with the data from the Government of Haiti and the United Nations Office for the Coordination of Humanitarian Affairs (OCHA). , (60) Data for 1991, 2001 and 2011 refer to the metropolitan area that is not restricted to state boundaries (National Capital Territory). Contiguous suburban cities and towns, such as Faridabad, Gurgaon, and Ghaziabad are included in Dehli. The capital is New Delhi. The official estimates for New Delhi and Delhi Urban Agglomeration were 257,803 and 16,349,831 in the year 2011, respectively. , (61) Data for the 1981 census onwards refer to Urban Agglomeration, inlcuding the population of Kabnur. , (62) Data from the 1981 census onwards refer to the Ludhiana Municipal Corporation. , (63) Data refer to the functional urban area, that is, contiguous areas which are consistently urban in character as indicated by levels of population density, economic functions and facilities. Jakarta covers five municipalities (kotamadya): Jakarta Selatan, Jakarta Timur, Jakarta Pusat, Jakarta Barat, and Jakarta Utara. Data for 1990 does not refer to the functional urban area. Appropriate estimates were derived by using the ratio of the population in the functional urban area to that of the population in the relevant municipalities as derived from the 1980 census. , (64) Data prior to 1995 refer to urban agglomeration. , (65) Designation and data provided by Israel. The position of the United Nations on the question of Jerusalem is contained in General Assembly resolution 181 (II) and subsequent resolutions of the General Assembly and the Security Council concerning this question. Including data for East Jerusalem. , (66) Based on the local labour market system (Sistemi locali del lavoro). , (67) Since 1991, the official Metropolitan City. , (68) Refers to the population of the "SHI" as of 1995. , (69) Major Metropolitan areas (M.M.A.) are defined by the Statistics Bureau of Japan. Census figures for 2005, 2010 and 2015 refer to the Kinko M.M.A.; figures from 1960 to 2000 are based on the Keihanshin M.M.A. These areas include Osaka, Kobe, Kyoto and Nara, among other cities. , (70) Major Metropolitan areas (M.M.A.) are defined by the Statistics Bureau of Japan. Census figures for 2005, 2010 and 2015 refer to the Kanto M.M.A.; figures from 1990 to 2000 are based on the Keihinyo M.M.A., and figures from 1960 to 1985 are based on the Keihin M.M.A. As a reference, the population of Tokyo-to was estimated at 12.1 million persons and of the Tokyo Ku-area at 8.1 million in 2000. , (71) Data for 2005 and 2011 refer to the Governorates of Capital, Hawalli, Al-Farwaniya and Mubarak Al-Kabeer. Data for 1985 and 1995 refer to the Governorates of Capital, Hawalli and Al-Farwaniya. The number and names of governorates have changed over time as well as the limits of the urban agglomeration. , (72) There is some level of uncertainty with respect to the estimates for Bayrut. Excluding Syrian Refugees. , (73) Refers to the Greater Kuala Lumpur. Kuuala Lumpur is the capital and Putrajaya is the administrative capital. , (74) Refers to the total population in seventy-six municipalities of the Metropolitan Area of Mexico City. , (75) Includes Matamoros, Torreón, Gómez Palacio, and Lerdo. , (76) Refers to Apizaco-Tlaxcala. , (77) Includes Salé and Temara. , (78) Data refer to the municipality. , (79) Refers to the municipalities of s-Gravenhage, Leidschendam, Leidschendam-Voorburg, Rijswijk, Voorburg, Wassenaar, Wateringen. , (80) The limits of the urban agglomeration have been modified between 2001 and 2006. , (81) Data for 1953 and 1963 refer to city proper. Data for 1983, 1991 and 2006 refer to urban agglomeration. , (82) Data for 1953 and 1963 refer to city proper. Data for 1991, 2006 and 2013 refer to urban agglomeration. , (83) Data for 1963 refers to city proper. Data for 1991 and 2010 refer to urban agglomeration. , (84) Data for 1953 and 1963 refer to city proper. Data for 1991 and 2006 refer to urban agglomeration. , (85) Data for 1953 and 1970 refer to city proper. Data for 1980, 1990, 2000 and 2010 refer to urban agglomeration. , (86) Data for 1963 refer to city proper. Data for 1983, 1991 and 2006 refer to urban agglomeration. , (87) Refers to Lagos State. , (88) Data for 1963 refers to city proper. Data for 1983, 1991 and 2010 refer to urban agglomeration. , (89) Data for 1953, 1963 and 1991 refer to city proper. Data for 2006 refers to urban agglomeration. , (90) Data for 1953 and 1963 refer to city proper. Data for 1991 and 2010 refer to urban agglomeration. , (91) Refers to Muscat governorate, which consists of the Wilayas of Muscat, Mutrah, Bawshar, As Seeb, and Al Amrat (excluding Wilaya of Qurayyat).  For the year 2016, refers to the sum of Muscat, Mutrah, Bawshar and As Seeb. , (92) Refers to the metropolitan area of Panama City, made up of the population of urban localities in the districts of Panamá, Arraijan, La Chorrera and San Miguelito. Data for 1980 includes the urban population in the district of Balboa. , (93) Refers to the district of Asunción and the 19 districts of Central Department. , (94) Refers to the Province of Lima and the Constitutional Province of Callao. , (95) Refers to the National Capital Region. , (96) Refers to Grande Lisboa, the Peninsula of Setúbal, and the municipality Azambuja. , (97) Refers to Grande Porto as defined in the 2011 census. This urban agglomeration dioes not reflect the recent expansion of Porto Metropolitan Area from 9 to 17 municipalities. , (98) Refers to the Metropolitan Statistical Area. The limits of the agglomeration have been modified between 1980 and 1990. , (99) Does not include the populations from the industrial area and zone 58. , (100) Data refer to the urban population of the city. , (101) Data refer to the cities of Changwon, Masan and Jinhen. , (102) Refers to Seoul Special City. Data refer to the urban population of the city. , (103) Includes Klimovsk and Lvovsky(L\'vovskij). , (104) Refers to the sum of the Departments of Dakar, Pikinie and Guédiawaye, in Dakar Region. , (105) Refers to the Arrondissement North and the Arrondissement South, in the Department of Thiès. , (106) Refers to the urban population of Belgrade area. , (107) Refers to the urban agglomeration of 1972. , (108) Refers to the urban population of Ethekwini. , (109) Refers to the urban population of Buffalo City. , (110) Refers to the urban population of The Msunduzi. , (111) Refers to the urban population of Nelson Mandela Bay , (112) Refer to the urban population of Emfuleni. , (113) As of 1996, refers to the urban population of Mogale City, Merafong City, Randfontein and Westonaria. , (114) The 2012 census enumeration was done on the de jure basis, while the 2001 census enumeration was done on de facto basis. , (115) Refers to "tätort" (According to the administrative divisions of 2015). , (116) Considering the situation in the country, recent estimates should be used with caution as they are not based on solid evidence. , (117) Refers to the population of the urban agglomeration as of 2000. , (118) The populaiton of Port of Spain defined as "city proper" was estimated at 37, 522 inhabitants in 2011. , (119) Data refer to population in "communes" in the Governorate of Sfax. , (120) Refers to Grand Tunis, which consists of the communal (urban) populations in the Governorates of Tunis, Ariana and Ben Arous. , (121) Refers to Altindag, Cankaya, Etimesgut, Golbasi, Keçioren, Mamak, Sincan and Yenimahalle. , (122) Data for 2014 also includes Kira, Makindye Ssabagabo and Nansana. The population of Kampala (city proper) was reported as 1,507,080 in 2014. , (123) For Birmingham, Manchester, and Newcastle upon Tyne, data from 1951 to 1971 refer to Conurbation, while data from 1981 to 2016 refer to Urban area (including Greater Manchester). For Birmingham (West Midlands) the limits of the urban area have been modified in 2011. For Sunderland, data from 1951 to 1981 refer to Sunderland and Whitburn urban areas, while data from 1991 to 2011 refer to Sunderland, Whitburn, Washington, Chester-le-Street and 9 other sub-divisions of the urban agglomeration. The limits of the urban agglomerations of Newport and Reading-Wokingham have been modified between 1981 and 1991. , (124) Data from 1951 to 1981 refer to Conurbation, while data from 1991 to 2016 refer to Urban area. , (125) Data for 1951, 1961 and 1971 refer to "Conurbation". Data from 1981 onwards refer to "Urban area" (Greater London). , (126) Data from 1963 to 1985 refer to the department of Montevideo and localities of the department of Canelones. Data from 1996 to 2011 refer to the department of Montevideo and localities of the departments of Canelones and San José (Cerámicas del Sur and Ciudad del Plata). , (127) Refers to the Municipality of El Libertador in the Federal District, the Municipality of Sucre in the State of Miranda, and the parishes of Carrizal (Municipality of Carrizal), Cecilio Acosta (Municipality of Guaicaipuro), and San Antonio (Municipality of Las Salias) in the State of Miranda. , (128) Data refer to urban population in the city districts. Data after 2008 include urban population in former Ha Tay Province. , (129) Data for 1950,1960 and 1975 refer to city proper. Data for 1986,1994 ,2004 and 2009 refer to urban agglomeration.'

In [27]:
import pandas as pd
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\downloadfolder2\\Urban-Agglomerations\\WUP1999F11-Growth_Rate_Cities.xls')
topic = df.iloc[7,0]
title = df.iloc[8,0].replace(':','')
if title=='File 10  Population of Urban Agglomerations with 750,000 Inhabitants or More in 1995 by Country, 1950-2015':
    df.columns = df.iloc[13].to_list()
else:
    df.columns = df.iloc[12].to_list()
df[13:].to_excel(f'C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\{title}.xlsx',index = False)

In [ ]:
'C:\Users\10235555\Documents\DataportalCrawlers\UN_Data\downloadfolder2\Urban-Rural-Areas'
'C:\Users\10235555\Documents\DataportalCrawlers\UN_Data\downloadfolder2\WUP2003_DOCUMENTATION'
'C:\Users\10235555\Documents\DataportalCrawlers\UN_Data\downloadfolder2\WUP2005_DOCUMENTATION'
'C:\Users\10235555\Documents\DataportalCrawlers\UN_Data\downloadfolder2\WUP2007_DOCUMENTATION'
# like previous for file start with 'WUP'


'C:\Users\10235555\Documents\DataportalCrawlers\UN_Data\downloadfolder2\WUP2003_EXCEL_DATA_SETS'
'C:\Users\10235555\Documents\DataportalCrawlers\UN_Data\downloadfolder2\WUP2005_EXCEL_DATA_SETS'
'C:\Users\10235555\Documents\DataportalCrawlers\UN_Data\downloadfolder2\WUP2007_XLS_CD_FILES'
'C:\Users\10235555\Documents\DataportalCrawlers\UN_Data\downloadfolder2\WUP2011_XLS_CD_FILES'
# LIKE previous BUT -1 for index (start line 13 not 14)

'C:\Users\10235555\Documents\DataportalCrawlers\UN_Data\downloadfolder2\WUP2009_XLS_CD_FILES'
# LIKE previous BUT -3 for index (start line 11 not 14)

'C:\Users\10235555\Documents\DataportalCrawlers\UN_Data\downloadfolder2\WUP2011_DOCUMENTATION'
# LIKE previous BUT -2 for index (start line 12 not 14)

'C:\Users\10235555\Documents\DataportalCrawlers\UN_Data\downloadfolder2\WUP2009_DOCUMENTATION'
# from line 10 in file

'C:\Users\10235555\Documents\DataportalCrawlers\UN_Data\downloadfolder2\WUP2014_DOCUMENTATION'
'C:\Users\10235555\Documents\DataportalCrawlers\UN_Data\downloadfolder2\WUP2014_XLS_CD_FILES'
# from line 16-17 oin file

In [1]:
import pandas as pd
note = []
df = pd.read_csv('C:\\Users\\10235555\\Documents\\Dataportal Data\\downloadfolder\\Notes - File , Location notes.csv')
for i in range(len(df.index)):
    f = df.iloc[i].to_list()
    f = [' : '.join(map(str,f))]
    note.append(f[0])
notes = [' , '.join(map(str,note))]
notes = 'Notes, ' + notes[0]
notes

'Notes, a : Countries and areas are grouped into eight Sustainable Development Goal (SDG) regions as defined by the United Nations Statistics Division and used for The Sustainable Development Goals Report (https://unstats.un.org/sdgs/indicators/regional-groups/).  These regions are further divided into 21 geographic subregions. , b : Sub-Saharan Africa refers to all of Africa except Northern Africa. , c : The designation “more developed” and “less developed” regions are intended for statistical purposes and do not express a judgment about the stage reached by a particular country or area in the development process. , d : More developed regions comprise Europe, Northern America, Australia/New Zealand and Japan. , e : Less developed regions comprise all regions of Africa, Asia (except Japan), Latin America and the Caribbean plus Melanesia, Micronesia and Polynesia. , f : The group of least developed countries includes 46 countries:  32 in Sub-Saharan Africa, 2 in Northern Africa and Western Asia, 4 in Central and Southern Asia, 4 in Eastern and South-Eastern Asia, 1 in Latin America and the Caribbean, 3 in Oceania (as accessed on 24 March 2022). Further information is available at https://www.un.org/ohrlls/content/least-developed-countries. , g : Other less developed countries comprise the less developed regions excluding the least developed countries. , h : The group of Landlocked Developing Countries (LLDCs) is composed of 32 countries or territories: 16 in Sub-Saharan Africa, 2 in Northern Africa and Western Asia, 8 in Central and Southern Asia, 2 in Eastern and South-Eastern Asia, 2 in Latin America and the Caribbean, and 2 in Europe and Northern America (as accessed on 24 March 2022). Further information is available at https://www.un.org/ohrlls/content/landlocked-developing-countries. , i : The group of Small Island Developing States (SIDS) is composed of 58 countries or territories: 25 in the Caribbean, 19 in the Pacific and 14 in the Atlantic, Indian Ocean and South China Sea (AIS) (as accessd on 24 March 2022). Further information is available at https://www.un.org/ohrlls/content/small-island-developing-states. , j : The country classification by income level is based on GNI per capita from the World Bank (as accessed on July 2022). Further information is available at https://datahelpdesk.worldbank.org/knowledgebase/articles/906519. , k : Countries and areas are grouped geographically into six major areas designated as: Africa; Asia; Europe; Latin America and the Caribbean; Northern America, and Oceania. , 1 : Including Agalega, Rodrigues and Saint Brandon. , 2 : For statistical purposes, the data for France do not include this area. , 3 : Including Zanzibar. , 4 : Including Ascension and Tristan da Cunha. For statistical purposes, the data for United Kingdom do not include this area. , 5 : For statistical purposes, the data for China do not include Hong Kong and Macao, Special Administrative Regions (SAR) of China, and Taiwan Province of China. , 6 : As of 1 July 1997, Hong Kong became a Special Administrative Region (SAR) of China. For statistical purposes, the data for China do not include this area. , 7 : As of 20 December 1999, Macao became a Special Administrative Region (SAR) of China. For statistical purposes, the data for China do not include this area. , 8 : For statistical purposes, the data for China do not include this area. , 9 : Including Sabah and Sarawak. , 10 : Including Nagorno-Karabakh. , 11 : Refers to the whole country. , 12 : Including Abkhazia and South Ossetia. , 13 : Including East Jerusalem. , 14 : Including Transnistria. , 15 : Including Crimea. , 16 : For statistical purposes, the data for Denmark do not include Faroe Islands, and Greenland. , 17 : For statistical purposes, the data for Denmark do not include this area. , 18 : Including Åland Islands. , 19 : For statistical purposes, the data for United Kingdom do not include this area. , 20 : Including Svalbard and Jan Mayen Islands. , 21 : Refers to the United Kingdom of Great Britain and Northern Ireland. For statistical purposes, the data for United Kingdom do not include Anguilla, Bermuda, British Virgin Islands, Cayman Islands, Falkland Islands (Malvinas), Gibraltar, Guernsey, Isle of Man, Jersey, Montserrat, Saint Helena, Turks and Caicos Islands. , 22 : Refers to the Vatican City State. , 23 : Refers to Kosovo (United Nations administered region under security council resolution 1244). For statistical purposes, the data for Serbia do not include this area. , 24 : For statistical purposes, the data for Serbia do not include Kosovo (United Nations administered region under security council resolution 1244). , 25 : Including Canary Islands, Ceuta and Melilla. , 26 : For statistical purposes, the data for France do not include French Guiana, French Polynesia, Guadeloupe, Martinique, Mayotte, New Caledonia, Réunion, Saint Pierre and Miquelon, Saint Barthélemy, Saint Martin (French part), Wallis and Futuna Islands. , 27 : For statistical purposes, the data for Netherlands do not include Aruba, Bonaire, Sint Eustatius and Saba, Curaçao, and Sint Maarten (Dutch part). , 28 : For statistical purposes, the data for Netherlands do not include this area. , 29 : For statistical purposes, the data for United States of America do not include this area. , 30 : A dispute exists between the Governments of Argentina and the United Kingdom of Great Britain and Northern Ireland concerning sovereignty over the Falkland Islands (Malvinas). For statistical purposes, the data for United Kingdom do not include this area. , 31 : For statistical purposes, the data for United States of America do not include American Samoa, Guam, Northern Mariana Islands, Puerto Rico, and United States Virgin Islands. , 32 : Including Christmas Island, Cocos (Keeling) Islands and Norfolk Island. , 33 : For statistical purposes, the data for New Zealand do not include Cook Islands, Niue, and Tokelau. , 34 : Including Pitcairn. , 35 : For statistical purposes, the data for New Zealand do not include this area.'

In [6]:
import pandas as pd
df = pd.read_excel('C:\\Users\\10235555\\Downloads\\WUP2018-F01-Total_Urban_Rural-1.xls')
df.iloc[14:16] = df.iloc[14:16].fillna(method='ffill', axis=1)
df.iloc[14:16] = df.iloc[14:16].fillna('')
df.columns = df.iloc[14:16].apply(lambda x: ' \n\n '.join(map(str,[y for y in x if y])), axis=0)
df[16:].columns

Index(['Index', 'Region, subregion, country or area', 'Note', 'Country\ncode',
       'Population of Urban and Rural Areas at Mid-Year (thousands) and Percentage Urban, 2018 \n\n Urban',
       'Population of Urban and Rural Areas at Mid-Year (thousands) and Percentage Urban, 2018 \n\n Rural',
       'Population of Urban and Rural Areas at Mid-Year (thousands) and Percentage Urban, 2018 \n\n Total',
       'Population of Urban and Rural Areas at Mid-Year (thousands) and Percentage Urban, 2018 \n\n Percentage urban'],
      dtype='object')

In [8]:

colum = []
import pandas as pd
from unidecode import unidecode
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 9 - Live births and crude birth rates, by urban or rural residence 2017-2021.xls')
df.iloc[2:4] = df.iloc[2:4].fillna(method='ffill', axis=1)
df.iloc[2:4] = df.iloc[2:4].fillna('')
df.columns = df.iloc[2:4].apply(lambda x: ' \n '.join(map(str,[y for y in x if y])), axis=0)
df = df.iloc[4:]
df = df.loc[:,~df.columns.duplicated()].copy()
list = df.columns.to_list()
for col in list:
    colum.append(unidecode(col.replace('\n',' \n ')))
df.columns = colum
df.iloc[:,0] = df.iloc[:,0].str.encode('ascii', 'ignore').str.decode('ascii')
df.to_excel('test_table1.xlsx',index=False)
df.columns

Index(['Continent, country or area, and urban/rural residence \n Continent, pays ou zone et residence, urbaine/rurale',
       'Co-dea', 'Number \n Nombre  \n  \n  2017',
       'Number \n Nombre  \n  \n  2018', 'Number \n Nombre  \n  \n  2019',
       'Number \n Nombre  \n  \n  2020', 'Number \n Nombre  \n  \n  2021',
       'Rate \n Taux  \n  \n  2017', 'Rate \n Taux  \n  \n  2018',
       'Rate \n Taux  \n  \n  2019', 'Rate \n Taux  \n  \n  2020',
       'Rate \n Taux  \n  \n  2021'],
      dtype='object')

In [2]:
import os
os.getcwd()

'c:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data'

In [6]:
import pandas as pd
from unidecode import unidecode
footnot = []
df = pd.read_csv('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\downloadfolder\\Population 5 to 24 years of age by school attendance  sex and urban rural residence.csv')
ind = df.iloc[:,1].index[df.iloc[:,1]== 'Footnote'].to_list()
footnotes = df.iloc[ind[0]:]
footnotes = footnotes.iloc[:,0:2]
for i in range(len(footnotes.index)):
    f = footnotes.iloc[i].to_list()
    f = [' : '.join(map(str,f))]
    footnot.append(f[0])
footnot = [' , '.join(map(str,footnot))]
df = df.iloc[:ind[0]]
df.iloc[:,0] = df.iloc[:,0].str.encode('ascii', 'ignore').str.decode('ascii')
# df.to_csv('test_popcensus.csv')
description = footnot[0]
description

C:\Users\10235555\AppData\Local\Temp\ipykernel_26768\1318681888.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\downloadfolder\\Population 5 to 24 years of age by school attendance  sex and urban rural residence.csv')

'footnoteSeqID : Footnote , 1 : Data refer to population in housing units and collective living quarters only. , 2 : Because of rounding, totals are not in all cases the sum of the respective components. , 3 : These data have been randomly rounded to protect confidentiality. Individual figures may not add up to totals, and values for the same data may vary in different tables. , 4 : Including population in off-shore, migratory and shipping. , 5 : Data do not add up to the total as the total also includes persons attending school part-time. , 6 : Excluding the institutional population. , 7 : Totals may not be exactly equal to the respective totals of other tables, as this set of results is derived from data collected from a sample of households via the long form questionnaire of Brazilian Census. , 8 : Data include persons in remote areas, military personnel outside the country, merchant seamen at sea, civilian seasonal workers outside the country, and other civilians outside the country, and exclude nomads, foreign military, civilian aliens temporarily in the country, transients on ships and Indian jungle population. , 9 : The population attended the school in the past have been excluded. , 10 : Source: Statistics Canada, 2016 Census of Population - 25% Sample Data. , 11 : To ensure confidentiality, the values, including totals are randomly rounded either up or down to a multiple of \'5\' or \'10.\' As a result, when these data are summed or grouped, the total value may not match the individual values since totals and sub-totals are independently rounded. Similarly, percentages, which are calculated on rounded data, may not necessarily add up to 100%. , 12 : Excludes incompletely enumerated Indian reserves and Indian settlements. , 13 : Based on a 20 per cent sample of census returns. , 14 : Data are from the long form, and refer to 10 per cent of the households. , 15 : For statistical purposes, the data for China do not include those for the Hong Kong Special Administrative Region (Hong Kong SAR), Macao Special Administrative Region (Macao SAR) and Taiwan province of China. , 16 : Data are estimates from sample enquiry. Data refer to Hong Kong resident population at the census moment, which covers usual residents and mobile residents. Usual residents refer to two categories of people: (1) Hong Kong permanent residents who had stayed in Hong Kong for at least three months during the six months before or for at least three months during the six months after the census moment, regardless of whether they were in Hong Kong or not at the census moment; and (2) Hong Kong non-permanent residents who were in Hong Kong at the census moment. Mobile Residents, they are Hong Kong permanent residents  who had stayed in Hong Kong for at least one month but less than three months during the six months before or for at least one month but less than three months during the six months after the census moment, regardless of whether they were in Hong Kong or not at the census moment. , 17 : Data for \'attending school\' refer to persons studying full-time or part-time. , 18 : Data refer to Hong Kong resident population at the census moment, which covers usual residents and mobile residents. Usual residents refer to two categories of people: (1) Hong Kong permanent residents who had stayed in Hong Kong for at least three months during the six months before or for at least three months during the six months after the census moment, regardless of whether they were in Hong Kong or not at the census moment; and (2) Hong Kong non-permanent residents who were in Hong Kong at the census moment. Mobile Residents, they are Hong Kong permanent residents  who had stayed in Hong Kong for at least one month but less than three months during the six months before or for at least one month but less than three months during the six months after the census moment, regardless of whether they were in Hong Kong or not at the census moment. , 19 : Data are estimates from sample enquiry. , 20 : Data refer to land-based population. , 21 : Population by-census is conducted between two population censuses, adopting a sampling method to select 29,421 housing units in Macao for enumeration, with the unit of observation being the individuals residing in the selected housing units. , 22 : Excluding individuals living in military camps. , 23 : Data includes persons who are not attending but have attended before and persons who have never attended. , 24 : Excludes nomadic Indian tribes. , 25 : Data from Estonian Education Information System. , 26 : Data source has undercoverage especially among pre primary students and some age cohorts. , 27 : Data refer to school/academic year 2009-2010, and population as of 1 January 2010. , 28 : Data include Overseas Departments. , 29 : Data for certain cells suppressed by national statistical office for confidentiality reasons. , 30 : The population that attended the school in the past has been included. , 31 : Data includes people who are employed, self-employed, incapacitated, non-employed, unemployed or other. , 32 : Excluding Mao-Maram, Paomata and Purul sub-divisions of Senapati district of Manipur. The population of Manipur including the estimated population of the three sub-divisions of Senapati district is 2,291,125 (Males 1,161,173 and females 1,129,952). , 33 : Includes data for the Indian-held part of Jammu and Kashmir, the final status of which has not yet been determined. , 34 : Excluding Province Nanggroe Aceh Darussalam, Regency Nias & Nias Selatan, Regency Boven Digul & Teluk Wondama. , 35 : Data refer to the Intercensal Population Survey"." , 36 : Based on a sample taken at the time of census. , 37 : Excluding individuals in institutions and those living outside localities. , 38 : Data are rounded for confidentiality reasons. , 39 : Includes data for East Jerusalem and Israeli residents in certain other territories under occupation by Israeli military forces since June 1967. , 40 : The data is from the census sample. , 41 : Without individuals in institutions, Druze from the Golan Heights and those living outside localities. , 42 : Population in private dwellings and population in religious, educational, military and police institutions only. , 43 : Data refer to population living in Jordan, excluding hotel lodgers. , 44 : Excluding data for Jordanian territory under occupation since June 1967 by Israeli military forces. Excluding foreigners, including registered Palestinian refugees. , 45 : The figure for both sexes includes intersex persons. , 46 : Including part-time students and persons who had completed schooling. , 47 : Data refer to resident Maldivian population. , 48 : Data refer to Administrative Islands only. The Non-Administrative Islands are excluded. , 49 : Data collected for population of 15 - 24 years old. No information is collected for populaton 5 - 14 years old as it is a law in Malta to attend school from 5 to 14 years of age. , 50 : Excludes the islands of St. Brandon and Agalega. , 51 : Data from the main operation. , 52 : Data refer to population enrolled/not enrolled, rather than attending/not attending school. , 53 : Data refer to population in conventional households only. , 54 : Data refer to usual resident population. , 55 : Population statistics are compiled from registers. , 56 : Including residents temporarily outside the country. , 57 : The total number may include \'Unknown residence\', but the categories urban and rural do not. , 58 : Excluding data for Azad Jammu and Kashmir, and Gilgit Baltistan. , 59 : Data available for 5 to 39 years of age. , 60 : Total excludes 3,814 persons between the ages of 5 and 39 who did not declare school attendance. , 61 : Population in households only. , 62 : Including armed forces stationed in the area. , 63 : Data refer to Qatari nationals only. , 64 : Data refer to Qatari population by enrollment and age groups. , 65 : Data refer to Korean population only. , 66 : Data are based on 20 per cent sample survey of all enumeration districts. , 67 : Excluding foreigners. , 68 : Including preschoolers. , 69 : Under 5 years old cannot be admitted into a school. , 70 : Including diplomats and their families abroad, but excluding foreign diplomats, foreign military personnal, and their families in the country. , 71 : Excluding alien armed forces, civilian aliens employed by armed forces, foreign diplomatic personnel and their dependants and Korean diplomatic personnel and their dependants outside the country. , 72 : Excludes non-residents present in country at time of census (visitors, foreigners temporarily residing in country, etc.). , 73 : Tiraspol, Bender, Slobozia, Ribnita, Camenca  Yrigoricpol/Grigoriopol are districts from Transnistria where the census was not conducted. , 74 : Excludes data for Kosovo and Metohia. , 75 : Data are given according to the type of settlement, whether urban or rural. The definition of an urban settlement is based on a legal act of local government. Rural refers to settlements that are not urban. , 76 : Data are based on the latest register-based population estimates for 2020. , 77 : Data refer to resident population which comprises Singapore citizens and permanent residents. , 78 : Data exclude population in collective living quarters. , 79 : The Population and Housing Census 2001 did not cover the whole area of the country due to the security problems; data refer to the 18 districts for which the census was completed only (in three districts it was not possible to conduct the census at all and in four districts it was partially conducted). , 80 : Data for rural areas include data of estate sectors consisting of all plantations which are 20 acres or more in extent and with ten or more resident labourers. , 81 : Data have not been adjusted for underenumeration. , 82 : Excluding data from the parts of Jerusalem which were annexed by Israel in 1967. , 83 : Data for urban include population in refugee camps. , 84 : Total population does not include Palestinian population living in those parts of Jerusalem governorate which were annexed by Israel in 1967, amounting to 210 209 persons. Likewise, the results does not include the estimates of not enumerated population based on the findings of the post enumeration study, i.e 83 805 persons. , 85 : Based on the results of a 2011 structural survey of permanent resident population covering 260,000 people aged 15 or over living in private households. Diplomats, international civil servants and members of their families, as well as those living in collective households were not considered. , 86 : Extrapolation based on less than 50 observations. The results should be interpreted with caution. , 87 : Data refer to usually resident population present on census night. , 88 : Includes persons who had finished the school or achieved a degree.'

In [9]:
colum = []
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 1 - Population, rate of increase, birth and death rates, surface area and density for the world, major areas and regions selected years.xls')
df.iloc[2:4] = df.iloc[2:4].fillna(method='ffill', axis=1)
df.iloc[2:4] = df.iloc[2:4].fillna('')
df.columns = df.iloc[2:4].apply(lambda x: ' \n\n '.join(map(str,[y for y in x if y])), axis=0)
df = df.iloc[4:]
df = df.loc[:,~df.columns.duplicated()].copy()
list = df.columns.to_list()
for col in list:
    colum.append(unidecode(col))
df.columns = colum
df.iloc[:,0] = df.iloc[:,0].str.encode('ascii', 'ignore').str.decode('ascii')
df.to_excel('test_table1.xlsx',index=False)

In [8]:
colum = []
import pandas as pd
from unidecode import unidecode
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 3 - Population by sex, annual rate of population increase, surface area and density.xls')
df.iloc[2:4] = df.iloc[2:4].fillna(method='ffill', axis=1)
df.iloc[2:4] = df.iloc[2:4].fillna('')
df.columns = df.iloc[2:4].apply(lambda x: ' \n\n '.join(map(str,[y for y in x if y])), axis=0)
df = df.iloc[4:]
df = df.loc[:,~df.columns.duplicated()].copy()
list = df.columns.to_list()
for col in list:
    colum.append(unidecode(col))
df.columns = colum
df.iloc[:,0] = df.iloc[:,0].str.encode('ascii', 'ignore').str.decode('ascii')
df.rename(columns={df.columns[5]: df.columns[5].replace(' \n\n Female\nFeminin','')},inplace=True)
df.rename(columns={df.columns[10]: df.columns[10].replace(' \n\n 2021','')},inplace=True)
df.to_excel('test_table3.xlsx',index=False)

In [18]:
colum = []
import pandas as pd
from unidecode import unidecode
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 4 - Vital statistics summary and life expectancy at birth 2017-2021.xls')
df.iloc[2:4] = df.iloc[2:4].fillna(method='ffill', axis=1)
df.iloc[2:4] = df.iloc[2:4].fillna('')
df.columns = df.iloc[2:4].apply(lambda x: ' \n\n '.join(map(str,[y for y in x if y])), axis=0)
df = df.iloc[4:]
df = df.loc[:,~df.columns.duplicated()].copy()
list = df.columns.to_list()
for col in list:
    colum.append(unidecode(col))
df.columns = colum
df.iloc[:,0] = df.iloc[:,0].str.encode('ascii', 'ignore').str.decode('ascii')
df.rename(columns={df.columns[7]: df.columns[7].replace(' \n\n Crude death rate\nTaux brut de mortalite','')},inplace=True)
df.rename(columns={df.columns[13]: df.columns[13].replace(' \n\n Femaleb\nFemininb','')},inplace=True)
df.to_excel('test_table4.xlsx',index=False)

In [21]:
colum = []
import pandas as pd
from unidecode import unidecode
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 10 - Live births by age of mother and sex of child, general and age-specific fertility rates latest available year, 2012-2021.xls')
df.iloc[2:4] = df.iloc[2:4].fillna(method='ffill', axis=1)
df.iloc[2:4] = df.iloc[2:4].fillna('')
df.columns = df.iloc[2:4].apply(lambda x: ' \n\n '.join(map(str,[y for y in x if y])), axis=0)
df = df.iloc[4:]
df = df.loc[:,~df.columns.duplicated()].copy()
list = df.columns.to_list()
for col in list:
    colum.append(unidecode(col))
df.columns = colum
df.iloc[:,0] = df.iloc[:,0].str.encode('ascii', 'ignore').str.decode('ascii')
df.rename(columns={df.columns[4]: df.columns[4].replace(' \n\n Female\nFeminin','')},inplace=True)
df.to_excel('test_table10.xlsx',index=False)

In [27]:
colum = []
import pandas as pd
from unidecode import unidecode
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 11 - Live births and live birth rates by age of father latest available year, 2012-2021.xls')
df.iloc[2:4] = df.iloc[2:4].fillna(method='ffill', axis=1)
df.iloc[2:4] = df.iloc[2:4].fillna('')
df.columns = df.iloc[2:4].apply(lambda x: ' \n\n '.join(map(str,[y for y in x if y])), axis=0)
df = df.iloc[4:]
df = df.loc[:,~df.columns.duplicated()].copy()
list = df.columns.to_list()
for col in list:
    colum.append(unidecode(col))
df.columns = colum
df.iloc[:,0] = df.iloc[:,0].str.encode('ascii', 'ignore').str.decode('ascii')
df.rename(columns={df.columns[2]: df.columns[2].replace(' \n\n Both sexes\nLes deux sexes','')},inplace=True)
df.to_excel('test_table11.xlsx',index=False)

In [17]:
colum = []
import pandas as pd
from unidecode import unidecode
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 20 - Death and death rates by cause and sex 2016 - 2020.xls')
df.iloc[2:6] = df.iloc[2:6].fillna(method='ffill', axis=1)
df.iloc[2:6] = df.iloc[2:6].fillna('')
df.columns = df.iloc[2:6].apply(lambda x: ' \n\n '.join(map(str,[y for y in x if y])), axis=0)
df = df.iloc[7:]
df = df.loc[:,~df.columns.duplicated()].copy()
list = df.columns.to_list()
for col in list:
    colum.append(unidecode(col))
df.columns = colum
df.iloc[:,0] = df.iloc[:,0].str.encode('ascii', 'ignore').str.decode('ascii')
df.to_excel('test_table20.xlsx',index=False)

In [15]:
colum = []
import pandas as pd
from unidecode import unidecode
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 2 - Estimates of population and its percentage distribution, by age and sex and sex ratio for all ages for the world, major areas and regions 2021.xls')
df.iloc[2:5] = df.iloc[2:5].fillna(method='ffill', axis=1)
df.iloc[2:5] = df.iloc[2:5].fillna('')
df.columns = df.iloc[2:5].apply(lambda x: ' \n\n '.join(map(str,[y for y in x if y])), axis=0)
df = df.iloc[5:]
df = df.loc[:,~df.columns.duplicated()].copy()
df.rename(columns={df.columns[13]: df.columns[13].replace(' \n\n Female\nFéminin \n\n 65+','')},inplace=True)
list = df.columns.to_list()
for col in list:
    colum.append(unidecode(col))
df.columns = colum
df.iloc[:,0] = df.iloc[:,0].str.encode('ascii', 'ignore').str.decode('ascii')
df.to_excel('test_table2.xlsx',index=False)

In [16]:
colum = []
import pandas as pd
from unidecode import unidecode
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 6 - Total and urban population by sex 2012-2021.xls')
df.iloc[2:5] = df.iloc[2:5].fillna(method='ffill', axis=1)
df.iloc[2:5] = df.iloc[2:5].fillna('')
df.columns = df.iloc[2:5].apply(lambda x: ' \n\n '.join(map(str,[y for y in x if y])), axis=0)
df = df.iloc[4:]
df = df.loc[:,~df.columns.duplicated()].copy()
df.rename(columns={df.columns[5]: df.columns[5].replace(' \n\n Percent P.100','')},inplace=True)
df.rename(columns={df.columns[8]: df.columns[8].replace(' \n\n Percent P.100',' ')},inplace=True)
list = df.columns.to_list()
for col in list:
    colum.append(unidecode(col))
df.columns = colum
df.iloc[:,0] = df.iloc[:,0].str.encode('ascii', 'ignore').str.decode('ascii')
df.to_excel('test_table6.xlsx',index=False)

In [17]:
colum = []
import pandas as pd
from unidecode import unidecode
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 8 - Population of capital cities and cities of 100 000 or more inhabitants latest available year, 2002-2021.xls')
df.iloc[2:5] = df.iloc[2:5].fillna(method='ffill', axis=1)
df.iloc[2:5] = df.iloc[2:5].fillna('')
df.columns = df.iloc[2:5].apply(lambda x: ' \n '.join(map(str,[y for y in x if y])), axis=0)
df = df.iloc[5:]
df = df.loc[:,~df.columns.duplicated()].copy()
list = df.columns.to_list()
for col in list:
    colum.append(unidecode(col))
df.columns = colum
df.rename(columns={df.columns[4]: df.columns[4].replace('\n Population',' ')},inplace=True)
df.rename(columns={df.columns[8]: df.columns[8].replace('\n Population',' ')},inplace=True)
df.iloc[:,0] = df.iloc[:,0].str.encode('ascii', 'ignore').str.decode('ascii')
df.to_excel('test_table8.xlsx',index=False)

In [28]:
colum = []
import pandas as pd
from unidecode import unidecode
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 17 - Maternal deaths and maternal mortality ratios 2011-2020.xls')
df.columns = df.iloc[2]
df = df[4:]
df = df.loc[:, df.columns.notna()]
df.iloc[:,0] = df.iloc[:,0].str.encode('ascii', 'ignore').str.decode('ascii')
df.to_excel('test_table17.xlsx',index=False)

AttributeError: 'int' object has no attribute 'encode'

In [11]:
import pandas as pd
import numpy as np
import numpy as np
df = pd.read_excel('\\\\10.30.31.77\\data_collection_dump\\RawData\\UNStat_Env\\Fresh groundwater abstracted XLS.xlsx')
# with open("C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\test_excel_E.xlsx",'w',encoding = 'utf-8') as f :
#     df.to_excel(f,index = False)
# ind = df.iloc[:,0].index[df.iloc[:,0] =='nan'].to_list()
# df = df.iloc[:ind[0]]
index3 = df.iloc[:,0].index[df.iloc[:,0] == 'Footnote number'].tolist()

,Unnamed: 0,CountryID,Country,Source,1990,1995,1996,1997,1998,1999,...,Footnotes 2010,Footnotes 2011,Footnotes 2012,Footnotes 2013,Footnotes 2014,Footnotes 2015,Footnotes 2016,Footnotes 2017,Footnotes 2018,Footnotes 2019
110,110,887,Yemen,U,...,2442,...,...,...,...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,111,894,Zambia,U,...,286.5,...,...,...,...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,112,716,Zimbabwe,U,9270.139648,7572.710449,10668.958008,11732.385742,10895.439453,9491.119141,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,114,Footnote number,Footnote,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,115,1,Refers to the groundwater resources abstracted...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,116,2,Includes renewable and non-renewable groundwater.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,117,3,Information provided by Rajshahi Water Supply ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,118,4,Summation of data provided by Chittagong and K...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,119,5,"Summation of data provided by Dhaka, Chittagon...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,120,6,Excluding water taken directly by households f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,121,7,"On average, permitted abstraction is ~75% of r...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,122,8,Information provided by the Authority for Cont...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,123,9,"Social Water and Basic Sanitation (AAPS), cons...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,124,10,Estimates of groundwater and surface water wit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,125,11,Estimates of groundwater and surface water wit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,126,12,"Freshwater abstracted by agriculture, forestry...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,127,13,The data for the years 2005 to 2015 were corre...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,128,14,The data for the years 2016 and 2017 were obta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,129,15,"The figures correspond to the national ""Water ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,130,16,1991 data.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,131,17,Data refer to public supply to all economic ac...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,132,18,Data refer to Addis Ababa city only.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,133,19,Data refer to water abstracted by water supply...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,134,20,It consists of 823.3 million cubic metres abst...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,135,21,Freshwater abstraction: these are figures obta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,136,22,Revised data.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,137,25,"Regarding groundwater extraction, only groundw...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,138,26,Total production of drinking water destined fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,139,27,Total drinking water production for the distri...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,140,28,Does not include small amounts of saline groun...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,141,29,Refers to abstracted volumes. Information on l...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,142,30,Units of figures are in 1000 m3.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,143,31,The data come from the Senegalese Des Eaux (SD...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,144,32,Data refer to estimated total ground water ava...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,145,33,Includes water abstraction by water supply ind...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,146,34,Includes water abstraction by water supply ind...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,147,35,Desalinated water is included.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,148,36,Excludes abstraction by households.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,149,37,Groundwater abstractions were estimated at 100...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,150,D1,OECD: Break in series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,151,D2,OECD: Estimated.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,152,E1,Eurostat: Break in time series.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,153,E3,Eurostat: Estimated value.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
colum = []
import pandas as pd
from unidecode import unidecode
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 8 - Population of capital cities and cities of 100 000 or more inhabitants latest available year, 2002-2021.xls')
df.iloc[2:5] = df.iloc[2:5].fillna(method='ffill', axis=1)
df.iloc[2:5] = df.iloc[2:5].fillna('')
df.columns = df.iloc[2:5].apply(lambda x: ' \n '.join(map(str,[y for y in x if y])), axis=0)
df = df.iloc[5:]
df = df.loc[:,~df.columns.duplicated()].copy()
list = df.columns.to_list()
for col in list:
    colum.append(unidecode(col))
df.columns = colum
df.rename(columns={df.columns[4]: df.columns[4].replace('\n Population',' ')},inplace=True)
df.rename(columns={df.columns[8]: df.columns[8].replace('\n Population',' ')},inplace=True)
df.columns
# df.columns[4] = df.columns[4].replace('\n Population',' ')
# df.to_excel('test_table8.xlsx',index=False)

Index(['Continent, country or area, date, code and city\nContinent, pays ou zone, date, code et ville',
       'City proper\nVille proprement dite \n Population \n Both sexes\nLes deux sexes',
       'City proper\nVille proprement dite \n Population \n Male\nMasculin',
       'City proper\nVille proprement dite \n Population \n Female\nFeminin',
       'City proper\nVille proprement dite   \n Surface area\nSuperficie (km2)',
       'Urban agglomeration\nAgglomeration urbaine \n Population \n Both sexes\nLes deux sexes',
       'Urban agglomeration\nAgglomeration urbaine \n Population \n Male\nMasculin',
       'Urban agglomeration\nAgglomeration urbaine \n Population \n Female\nFeminin',
       'Urban agglomeration\nAgglomeration urbaine   \n Surface area\nSuperficie (km2)'],
      dtype='object')

In [81]:
import pandas as pd
import numpy as np
df = pd.read_excel('\\\\10.30.31.77\\data_collection_dump\\RawData\\UNStat_Env\\Proportion of population in coastal zones (LECZ).xls')
b = df.iloc[35:,1:]
column = ['Country', 'Urban - 1990', 'Rural - 1990',' Total - 1990', 'Urban - 1995','Rural - 1995',' Total - 1995','Urban - 2000','Rural - 2000',' Total - 2000']
b.set_axis(column, axis=1,inplace=True)
b.to_excel('test_lecz.xlsx',index = False)
# header1 = b.iloc[0, :].values.tolist()

# #b.columns = [b.columns[i-1] if None in b.columns[i] else b.columns[i] for i in range(len(b.columns)) ]
# header2 = b.iloc[1, :].values.tolist()
# header3 = b.iloc[2, :].values.tolist()
# header = zip(header1,header2,header3)
# b.set_axis(header, axis=1,inplace=True)
#b.columns = [' '.join(b.columns[i]) for i in range(len(b.columns))]
b.head()
#column = ['Country', 'Urban - 1990', 'Rural - 1990',' Total - 1990', 'Urban - 1995','Rural - 1995',' Total - 1995','Urban - 2000','Rural - 2000',' Total - 2000']

C:\Users\10235555\AppData\Local\Temp\ipykernel_4764\1435642537.py:6: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  b.set_axis(column, axis=1,inplace=True)

,Country,Urban - 1990,Rural - 1990,Total - 1990,Urban - 1995,Rural - 1995,Total - 1995,Urban - 2000,Rural - 2000,Total - 2000
35,Afghanistan1,0,0,0,0,0,0,0,0,0
36,Albania,11.113795,8.128178,9.099972,10.475542,9.289446,9.739686,10.272006,10.05229,10.14283
37,Algeria,5.851422,1.547665,3.737483,5.851422,1.547665,3.906417,5.866736,1.561057,3.963504
38,American Samoa,5.847475,37.604369,10.331037,5.738278,37.465119,9.780543,5.640236,39.054308,9.656241
39,Andorra1,0,0,0,0,0,0,0,0,0

In [29]:
import xlrd
sheet = xlrd.open_workbook('\\\\10.30.31.77\\data_collection_dump\\RawData\\UNStat_Env\\Proportion of population in coastal zones (LECZ).xls')
del sheet.charts[0]

NameError: name 'sheet_charts' is not defined

In [24]:
import xlwings as xw
ws = xw.Book('\\\\10.30.31.77\\data_collection_dump\\RawData\\UNStat_Env\\Proportion of population in coastal zones (LECZ).xls').sheets['Sheet1']

In [54]:
import pandas as pd
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 2 - Estimates of population and its percentage distribution, by age and sex and sex ratio for all ages for the world, major areas and regions 2021.xls')
df.iloc[2:5] = df.iloc[2:5].fillna(method='ffill', axis=1)
df.iloc[2:5] = df.iloc[2:5].fillna('')
df.columns = df.iloc[2:5].apply(lambda x: ' \n\n '.join(map(str,[y for y in x if y])), axis=0)
df = df.iloc[5:]
df = df.loc[:,~df.columns.duplicated()].copy()
df.rename(columns={df.columns[13]: df.columns[13].replace(' \n\n Female\nFéminin \n\n 65+','')},inplace=True)
df.columns
# df.to_excel('test_table2.xlsx',index=False)

Index(['Major areas and regions\nGrandes régions et régions',
       'Population (millions) \n\n Both sexes\nLes deux sexes \n\n All ages - Tous âges',
       'Population (millions) \n\n Both sexes\nLes deux sexes \n\n 0-14',
       'Population (millions) \n\n Both sexes\nLes deux sexes \n\n 15-64',
       'Population (millions) \n\n Both sexes\nLes deux sexes \n\n 65+',
       'Population (millions) \n\n Male\nMasculin \n\n All ages - Tous âges',
       'Population (millions) \n\n Male\nMasculin \n\n 0-14',
       'Population (millions) \n\n Male\nMasculin \n\n 15-64',
       'Population (millions) \n\n Male\nMasculin \n\n 65+',
       'Population (millions) \n\n Female\nFéminin \n\n All ages - Tous âges',
       'Population (millions) \n\n Female\nFéminin \n\n 0-14',
       'Population (millions) \n\n Female\nFéminin \n\n 15-64',
       'Population (millions) \n\n Female\nFéminin \n\n 65+',
       'Sex ratio\nRapport de masculinité¹'],
      dtype='object')

In [58]:
import pandas as pd
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 6 - Total and urban population by sex 2012-2021.xls')
df.iloc[2:5] = df.iloc[2:5].fillna(method='ffill', axis=1)
df.iloc[2:5] = df.iloc[2:5].fillna('')
df.columns = df.iloc[2:5].apply(lambda x: ' \n\n '.join(map(str,[y for y in x if y])), axis=0)
# df.columns = df.iloc[3:5].apply(lambda x: ' \n\n '.join(map(str,[y for y in x if y])), axis=0)
df = df.iloc[4:]
df = df.loc[:,~df.columns.duplicated()].copy()
df.rename(columns={df.columns[5]: df.columns[5].replace(' \n\n Percent P.100','')},inplace=True)
df.rename(columns={df.columns[8]: df.columns[8].replace(' \n\n Percent P.100',' ')},inplace=True)
df.columns
# df.to_excel('test_table6.xlsx',index=False)

Index(['Continent, country or area, and date Continent, pays ou zone et date',
       'Codea', 'Both sexes Les deux sexes \n\n Total',
       'Both sexes Les deux sexes \n\n Urban Urbaine \n\n Number Nombre',
       'Both sexes Les deux sexes \n\n Urban Urbaine \n\n Percent P.100',
       'Male Masculin \n\n Total',
       'Male Masculin \n\n Urban Urbaine \n\n Number Nombre',
       'Male Masculin \n\n Urban Urbaine \n\n Percent P.100',
       'Female Féminin \n\n Total ',
       'Female Féminin \n\n Urban Urbaine \n\n Number Nombre',
       'Female Féminin \n\n Urban Urbaine \n\n Percent P.100'],
      dtype='object')

In [33]:
import pandas as pd
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 20 - Death and death rates by cause and sex 2016 - 2020.xls')
df.iloc[2:6] = df.iloc[2:6].fillna(method='ffill', axis=1)
df.iloc[2:6] = df.iloc[2:6].fillna('')
df.columns = df.iloc[2:6].apply(lambda x: ' \n\n '.join(map(str,[y for y in x if y])), axis=0)
df = df.iloc[7:]
df = df.loc[:,~df.columns.duplicated()].copy()
df.to_excel('test_table20.xlsx',index=False)

In [21]:
import pandas as pd
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 17 - Maternal deaths and maternal mortality ratios 2011-2020.xls')
df.columns = df.iloc[2]
df = df[4:]
df = df.loc[:, df.columns.notna()]
df.head()

2,Continent and country or area Continent et pays ou zone,Co-dea,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
4,AFRICA - AFRIQUE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cabo Verde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Number - Nombre,C,5,1,...,...,...,...,...,...,...,...
7,Rate - Taux,C,46.04052,9.87069,...,...,...,...,...,...,...,...
8,Egypt - Égypte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
colum = []
import pandas as pd
from unidecode import unidecode
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 10 - Live births by age of mother and sex of child, general and age-specific fertility rates latest available year, 2012-2021.xls')
df.iloc[2:4] = df.iloc[2:4].fillna(method='ffill', axis=1)
df.iloc[2:4] = df.iloc[2:4].fillna('')
df.columns = df.iloc[2:4].apply(lambda x: ' \n\n '.join(map(str,[y for y in x if y])), axis=0)
df = df.iloc[4:]
df = df.loc[:,~df.columns.duplicated()].copy()
list = df.columns.to_list()
for col in list:
    colum.append(unidecode(col))
df.columns = colum
df.to_excel('test_table10.xlsx',index=False)

In [28]:
import pandas as pd
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\UNStat_demogrphic_yearbook\\Table 3 - Population by sex, annual rate of population increase, surface area and density.xls')
df.iloc[2:4] = df.iloc[2:4].fillna(method='ffill', axis=1)
df.iloc[2:4] = df.iloc[2:4].fillna('')
df.columns = df.iloc[2:4].apply(lambda x: ' \n\n '.join(map(str,[y for y in x if y])), axis=0)
df = df.iloc[4:]
df = df.loc[:,~df.columns.duplicated()].copy()
df.to_excel('test_table3_nondup.xlsx',index=False)

In [ ]:
import pandas as pd
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\downloadfolder\\Meteorological disasters XLS.xlsx')
#with open("C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\test_excel.xlsx",'w',encoding='utf-8') as f :
#df.to_excel('test_excel.xlsx',index = False)
header2 = df.loc[0, :].values.tolist()
df.columns = [df.columns[i-1] if 'Unnamed' in df.columns[i] else df.columns[i] for i in range(len(df.columns)) ]
df.columns = [df.columns[i-2] if 'Unnamed' in df.columns[i] else df.columns[i] for i in range(len(df.columns)) ]
df.columns = zip(['' if 'Unnamed' in df.columns[i] else df.columns[i] for i in range(len(df.columns)) ],header2)
df = df.iloc[1:].reset_index(drop=True)
df.columns = [' '.join(df.columns[i]) for i in range(len(df.columns))]
df.rename(columns={df.columns[0]: 'CountryID'},inplace=True)
df.to_excel('Meteorological disasters_mergeHeaders.xlsx',index=False)

In [27]:
import pandas as pd
import numpy as np
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\downloadfolder\\CO2 emissions XLS.xlsx')
nan_value = float("NaN")
df.replace("", nan_value, inplace=True)
df.dropna(how='all', axis=1, inplace=True)
header2 = df.loc[0, :].values.tolist()
header2 = [str(elem).replace('nan','/') for elem in header2]
header = zip(df.columns,header2)
df.set_axis(header, axis=1,inplace=True)
df = df.iloc[1:,:]
df.columns = [' '.join(df.columns[i]) for i in range(len(df.columns))]
df.head()

C:\Users\10235555\AppData\Local\Temp\ipykernel_9484\2348475359.py:14: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df.set_axis(header, axis=1,inplace=True)

,Country /,CO2 emissions mio. tonnes,% change since 1990 %,CO2 emissions per capita tonnes,CO2 emissions per km2 tonnes
1,Afghanistan,12.25,357.6712,0.42526,18.76562
2,Albania,4.67,-37.6589,1.617493,162.38
3,Algeria,121.76,54.26761,3.316038,51.12034
4,Andorra,0.49,...,5.968953,1050
5,Angola,29.71,570.7,1.354006,23.83091

In [6]:
import pandas as pd
xls = pd.ExcelFile('C:\\Users\\10235555\\Downloads\\Meteorological disasters.xlsx')
sheets = xls.sheet_names
df = pd.read_excel('C:\\Users\\10235555\\Downloads\\Meteorological disasters.xlsx',sheets[1])
dfdesc = pd.read_excel('C:\\Users\\10235555\\Downloads\\Meteorological disasters.xlsx',sheets[0])
index1 = dfdesc['Unnamed: 0'].index[dfdesc['Unnamed: 0'] == 'Definitions & Technical notes:'].tolist()
description = dfdesc.iloc[(indx+1 for indx in index1),0].tolist()
description

['Meteorological disasters are defined as hazards caused by short-lived, micro- to meso-scale extreme weather and atmospheric conditions that last from minutes to days. They include extreme temperature, fog, and storm.']

In [4]:
import pandas as pd
import numpy as np
df = pd.read_excel('C:\\Users\\10235555\\Documents\\DataportalCrawlers\\UN_Data\\downloadfolder\\Actual evapotranspiration XLS.xlsx')
nan_value = float("NaN")
df.replace("", nan_value, inplace=True)
df.dropna(how='all', axis=1, inplace=True)
df.to_excel('test_sheet2.xlsx')

In [37]:
import pandas as pd
df = pd.read_excel(rf"C:\Users\10235555\Documents\DataportalCrawlers\UN_Data\test_env\Greenhouse gas emissions by sector (absolute values) XLS.xlsx")
index1 = df['Unnamed: 0'].index[df['Unnamed: 0'] == 'Definitions & Technical notes:'].tolist()
description1 = df.iloc[(indx+2 for indx in index1),0].to_string()
description2 = df.iloc[(indx+3 for indx in index1),0].to_string()
description3 = df.iloc[(indx+4 for indx in index1),0].to_string()
description4 = df.iloc[(indx+5 for indx in index1),0].to_string()
description = description1.replace('   ','') + description2.replace('   ','')  + description3.replace('   ','')  + description4.replace('   ','')
index3 = df['Unnamed: 0'].index[df['Unnamed: 0'] == 'Sources:'].tolist()
source1 = df.iloc[(indx+2 for indx in index1),0].to_string()
source2 = df.iloc[(indx+3 for indx in index1),0].to_string()
source3 = df.iloc[(indx+4 for indx in index1),0].to_string()
source4 = df.iloc[(indx+5 for indx in index1),0].to_string()
source = source1.replace('   ','') + source2.replace('   ','') + source3.replace('   ','') + source4.replace('   ','')
BodyDict["JsonDetails"]["description"] = description
BodyDict["JsonDetails"]["additional_data_sources"] = source
if df['Unnamed: 0'].str.contains('Data Quality:').any():
    index2 = df['Unnamed: 0'].index[df['Unnamed: 0'] == 'Data Quality: '].tolist()
    limitations = df.iloc[(ind+2 for ind in index2),0].to_string()
    BodyDict["JsonDetails"]["limitations"] = limitations
source

'211 GHG from Energy: all emissions related to the ...212 GHG from Energy, of which: from Transport: emi...213 GHG from Industrial Processes: emissions from ...214 GHG from Agriculture: all emissions from enter...'